.logo{
  width: 100px;
}
.encabezado{
  background-color: gray;
  color: white;
}
.reds{
height: 100px;
}
.icon{
  width: 1.5rem;
}
.space{
  height: 75px;
}
.padspace{
  margin: 25px 0px 25px 0px;
}
